# Top-level excludes
**/*.map
**/*.ts
**/node_modules/**/*.css
**/node_modules/**/*.html
**/node_modules/**/*.lock
**/node_modules/**/*.markdown
**/node_modules/**/*.md
**/node_modules/**/.*
**/node_modules/**/.github
**/node_modules/**/.vscode
**/node_modules/**/LICENSE
**/node_modules/**/benchmark/**
**/node_modules/**/bower.json
**/node_modules/**/demo/**
**/node_modules/**/example/**
**/node_modules/**/license
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/tsconfig.*.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/tslint.json
.editorconfig
.eslintignore
.gitignore
.mocharc.json
.vscode/**
CONTRIBUTING.md
artifacts/**
assets/**
client/**
make.js
node_modules/**
playground/**
server/*.packed.js
server/test/**
shared.webpack.config.js

# Make sure we keep these!
!client/extension.js
!server/*.js

# We can't webpack the server because it messes up default Spectral
# rule resolution. Instead we use webpack to do some tree-shaking and
# simply exclude the folders we won't use at runtime. This data comes
# from the package task and will end up in artifacts/server-vscodeignore.txt
server/node_modules/.bin
server/node_modules/@nodelib
server/node_modules/@types
server/node_modules/agent-base
server/node_modules/ansi-regex
server/node_modules/ast-types
server/node_modules/asynckit
server/node_modules/braces
server/node_modules/bytes
server/node_modules/camelcase
server/node_modules/cliui
server/node_modules/co
server/node_modules/code-error-fragment
server/node_modules/combined-stream
server/node_modules/core-util-is
server/node_modules/data-uri-to-buffer
server/node_modules/debug
server/node_modules/decamelize
server/node_modules/deep-is
server/node_modules/degenerator
server/node_modules/delayed-stream
server/node_modules/depd
server/node_modules/emoji-regex
server/node_modules/eol
server/node_modules/es6-promise
server/node_modules/es6-promisify
server/node_modules/escodegen
server/node_modules/esprima
server/node_modules/estraverse
server/node_modules/esutils
server/node_modules/extend
server/node_modules/fast-glob
server/node_modules/fast-levenshtein
server/node_modules/fastq
server/node_modules/file-uri-to-path
server/node_modules/fill-range
server/node_modules/find-up
server/node_modules/form-data
server/node_modules/fs.realpath
server/node_modules/ftp
server/node_modules/get-caller-file
server/node_modules/get-uri
server/node_modules/glob
server/node_modules/glob-parent
server/node_modules/grapheme-splitter
server/node_modules/http-errors
server/node_modules/http-proxy-agent
server/node_modules/https-proxy-agent
server/node_modules/iconv-lite
server/node_modules/inflight
server/node_modules/inherits
server/node_modules/ip
server/node_modules/is-extglob
server/node_modules/is-fullwidth-code-point
server/node_modules/is-glob
server/node_modules/is-number
server/node_modules/isarray
server/node_modules/levn
server/node_modules/locate-path
server/node_modules/lru-cache
server/node_modules/merge2
server/node_modules/micromatch
server/node_modules/mime-db
server/node_modules/mime-types
server/node_modules/ms
server/node_modules/netmask
server/node_modules/once
server/node_modules/optionator
server/node_modules/p-limit
server/node_modules/p-locate
server/node_modules/p-try
server/node_modules/pac-proxy-agent
server/node_modules/pac-resolver
server/node_modules/path-exists
server/node_modules/path-is-absolute
server/node_modules/picomatch
server/node_modules/prelude-ls
server/node_modules/process-nextick-args
server/node_modules/proxy-agent
server/node_modules/proxy-from-env
server/node_modules/punycode
server/node_modules/raw-body
server/node_modules/readable-stream
server/node_modules/regenerator-runtime
server/node_modules/require-directory
server/node_modules/require-main-filename
server/node_modules/reusify
server/node_modules/rimraf
server/node_modules/run-parallel
server/node_modules/safe-buffer
server/node_modules/safer-buffer
server/node_modules/set-blocking
server/node_modules/setprototypeof
server/node_modules/smart-buffer
server/node_modules/socks
server/node_modules/socks-proxy-agent
server/node_modules/source-map
server/node_modules/statuses
server/node_modules/strict-event-emitter-types
server/node_modules/string-width
server/node_modules/string_decoder
server/node_modules/strip-ansi
server/node_modules/text-table
server/node_modules/thunkify
server/node_modules/to-regex-range
server/node_modules/toidentifier
server/node_modules/type-check
server/node_modules/unpipe
server/node_modules/util-deprecate
server/node_modules/utility-types
server/node_modules/which-module
server/node_modules/word-wrap
server/node_modules/wrap-ansi
server/node_modules/wrappy
server/node_modules/xregexp
server/node_modules/y18n
server/node_modules/yallist
server/node_modules/yargs
server/node_modules/yargs-parser
