on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Release and Publish
    runs-on: ubuntu-latest
    env:
      VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: ^12.13

      - name: Yarn install
        run: yarn install

      - name: Build, lint, test and package
        run: node make.js package

      - name: Publish to VSCode extensions store
        run: node make.js publish -- ${{env.VSCE_TOKEN}}
